$def with (table,item)

<h3>编辑$table[0]</h3>
<a href="/index_item/$table[0]">返回</a>
<form action="/edit_item/$table[0]/$item[table[1][0]]" method="post">
$for i in range(1,len(table[1])-1):
	<label>$table[1][i]:</label>
    <input type="text" name=$table[1][i] value=$item[table[1][i]] required></br>
<input type="submit" value="修改">
</form>

<form action="/delete_item/$table[0]/$item[table[1][0]]" method="post">
	<label>删除$table[0]？</label>
    <input type="submit" value="删除" onClick="delcfm()"/>
</form>

<script language="javascript">
function delcfm() { 
        if (!confirm("确认要删除？")) { 
            window.event.returnValue = false; 
        } 
    } 
</script>