$def with (items,pid,date)

<div class="page-header">
<h4><strong>细项管理 </strong><a href="/index_project">返回</a></h4>
</div>

<table class="table table-bordered ">
<tr>
<td>细项名称</td><td>开始时间</td><td>结束时间</td><td>地点</td><td>教室</td><td>项目名称</td>
<td>学生人数</td><td>教师姓名</td><td>申请人员</td><td>审批状态</td><td>审批者</td><td>最近修改</td>
</tr>
<tbody id="tab"> 
$for item in items:
    <tr>
	<td width=150>$item['cname']</td>
	<td>$item['begindate']$('上' if item['begintime']==0 else '下')</td>
	<td>$item['enddate']$('上' if item['endtime']==0 else '下')</td>
	<td>$item['place']</td>
	<td>$item['classroom']</td>
	<td width=150>$item['pname']</td>
	<td>$item['snumber']</td>
	<td>$item['tname']</td>
	<td>$item['organizer']</td>
	<td>$item['approve']</td>
	<td>$item['manager']</td>
	<td>$item['ctime']</td>
    </tr>
</tbody>
</table>
