$def with (items,date)

<h3>细项管理</h3>
<style>a{ text-decoration:none}</style>
<a href="/index">返回</a>&nbsp;&nbsp;
<a href='/index_class/'>全部</a>&nbsp;&nbsp;
<a href='/index_class/unapprove'>未审批</a>&nbsp;&nbsp;
<a href='/index_class/pass'>通过</a>&nbsp;&nbsp;
<a href='/index_class/notpass'>不通过</a>

<table border="1" cellspacing="0">
<tr>
<td>细项名称</td><td>开始时间</td><td>结束时间</td><td>地点</td><td>教室</td><td>项目名称</td>
<td>学生人数</td><td>教师姓名</td><td>申请者</td><td>审批状态</td><td>审批者</td><td>最近修改</td>
</tr>
<tbody id="tab"> 
$for item in items:
    <tr>
	<td width=150>$item['cname']</td>
	<td>$item['begindate']$('上' if item['begintime']==0 else '下')</td>
	<td>$item['enddate']$('上' if item['endtime']==0 else '下')</td>
	<td>$item['place']</td>
	<td>$item['classroom']</td>
	<td width=150>$item['pname']</td>
	<td>$item['snumber']</td>
	<td>$item['tname']</td>
	<td>$item['organizer']</td>
	<td>$item['approve']</td>
	<td>$item['manager']</td>
	<td>$item['ctime']</td>
	<!--
	<td><a href="/edit_class/$item['cid']/">编辑</a></td>
	<td><a href="/copy_class/$item['cid']/">复制</a></td>
	-->
    </tr>
</tbody>
</table>

<span id="spanFirst">第一页</span>
<span id="spanPre">上一页</span>
<span id="spanNext">下一页</span>
<span id="spanLast">最后一页</span>
第<span id="spanPageNum"></span>页/共<span id="spanTotalPage"></span>页
<script type="text/javascript" src="../static/paging.js"></script> 
