$def with (pid,teachers,classrooms)

<h2>添加细项</h2>
<form action="/new_class/$pid" method="post">
	<label>项目id:</label>
    <input type="text" name='pid' value=$pid readonly></br>

<label>教师姓名:</label>	
<select name="tid">
<option>请选择</option>
$for teacher in teachers:
	<option value=$teacher['tid']>$teacher['tname']</option>
</select></br>

<label>地点:</label>
<select name='crid'>
<option>请选择</option>
$for classroom in classrooms:
	<option value=$classroom['crid']>$classroom['place']$classroom['classroom']</option>
</select></br>

<label>细项名称:</label>
<input type="text" name='cname' required></br>
	
<label>开始日期:</label>
<input type="date" name='begindate' required>
<label>开始时间:</label>
<select name='begintime'>
<option value='0'>上午</option>
<option value='1'>下午</option>
</select></br>
	
<label>结束日期:</label>
<input type="date" name='enddate' required>
<label>结束时间:</label>
<select name='endtime'>
<option value='0'>上午</option>
<option value='1'>下午</option>
</select></br>
	
<label>审批状态:</label>
<input type="text" name='approve' value="未审批" readonly></br>
<input type="submit" value="添加"></br>
</form>
<a href="/index_class/$pid">返回</a>
