$def with (teachers,item,pid,classrooms)

<style>a{ text-decoration:none}</style> 
<h2>编辑细项</h2>

<form action="/edit_class/$item['cid']/$pid" method="post">
	
<label hidden="hidden">项目id:</label>
<input type="text" name='pid' value=$item['pid'] readonly hidden="hidden">

<label>教师姓名:</label>	
<select name="tid">
<option value=$item['tid']>不变</option>
$for teacher in teachers:
	<option value=$teacher['tid']>$teacher['tname']</option>
</select></br>

<label>地点:</label>
<select name='crid'>
<option value=$item['crid']>不变</option>
$for classroom in classrooms:
	<option value=$classroom['crid']>$classroom['place']$classroom['classroom']</option>
</select></br>

<label>细项名称:</label>
<input type="text" name='cname' value=$item['cname'] required></br>
	
<label>开始日期:</label>
<input type="date" name='begindate' value=$item['begindate'] required>
<label>开始时间:</label>
<select name='begintime'>
<option value='0'>上午</option>
$if item['begintime']==1:
	<option value='1' selected='selected'>下午</option>
$else:
	<option value='1'>下午</option>
</select></br>
	
<label>结束日期:</label>
<input type="date" name='enddate' value=$item['enddate'] required>
<label>结束时间:</label>
<select name='endtime'>
<option value='0'>上午</option>
$if item['endtime']==1:
	<option value='1' selected='selected'>下午</option>
$else:
	<option value='1'>下午</option>
</select></br>
	
<label>审批状态:</label>
<input type="text" name='approve' value=$item['approve'] readonly></br>
<input type="submit" value="修改">
</form>

<form action="/delete_class/$item['cid']/$pid" method="post">
<label>删除细项？</label>
<input type="submit" value="删除" onClick="delcfm()"/>
</form>
<a href="javascript:history.go(-1);">返回</a>
<script language="javascript">
function delcfm() { 
        if (!confirm("确认要删除？")) { 
            window.event.returnValue = false; 
        } 
    } 
</script>