$def with (organizers)

<h2>添加项目</h2>
<form action="/new_project" method="post">
	
<label>申请者:</label>	
<select name="oid">
$for organizer in organizers:
	<option value=$organizer['oid']>$organizer['oname']</option>
</select></br>

<label>项目名称:</label>
<input type="text" name='pname' required></br>
<label>项目预算:</label>
<input type="text" name='budget' required></br>
<label>学生人数:</label>
<input type="text" name='snumber' required></br>

<input type="submit" value="添加"></br>
</form>
<a href="/index_project">返回</a>