$def with ()
<div class="center-block" style="margin-left: 10%; margin-right: 50%;">
<div class="page-header">
<h4><strong>添加项目 </strong><a href="/index_project">返回</a></h4>

</div>
<form action="/new_project" method="post"  class="form-singin">

<label>项目名称:</label>
<input type="text" name='pname'  class="form-control"  required></br>
<label>项目预算:</label>
<input type="text" name='budget'  class="form-control"></br>
<label>学生人数:</label>
<input type="text" name='snumber'  class="form-control"></br>

<input type="submit" value="添加" class="btn btn-primary"></br>
</form>
